*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  width:100%;
  height: 75px;
  background-color: #ff6900;
}


.flexed{
  display: flex;
  justify-content: center;

}

.container{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin-top: 70px;
}


img{
  max-width:400px;
  
}

.product{
  position: relative;
  
}


.product:hover .cover-prod{
  display: none;
}

.product .switch{
  display: none;
}


.product:hover .switch{
  display: block;
}

.hearts{
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  background-color: white;
  top: 8px;
  right: 0;
  width: 50px;
  height: 50px;

}

.hearts:hover .liked{
  color:red;
}


.card{
 padding-bottom: 50px;

}

.product .discount{
  position: absolute;
	bottom: 40px;
	left: 0;
	color: white;
	padding: 5px 10px;
	background-color: red;
}

.product .sustainable{
  position: absolute;
	bottom: 40px;
	left: 55px;
	color: white;
	padding: 5px 10px;
  background-color: green;

}

.price-now{
  color: red;  
}

.price-old{
  text-decoration:line-through;
}

#start{
  background-color: green;
}

footer{
  height: 120px;
  background-color: #202020;
  margin-bottom: 3px;
}